.test{

} /* селектор по классу */
.test * { /* *-применяет стили на все дочерние элементы включая вложенные используется крайне редко */
	background: red;
}
input[type="text"] { /* применяет стиль ко всем тегам input с атрибутом type="text", если убрать input, то стиль применится на все теги с атрибутом type="text" */
	background: green;
	border-radius: 5px;
}
[type$="word"] { /* Знак доллара показывает нашему документу, что мы ищем все атрибуты type, которые заканчиваются на word */
	background: blue;
	margin-top: 10px;
	border-radius: 5px;
}
[type*="il"] { /* Звездочка применяет стили к нашему документу, ко всем тегам м атрибутом type, внутри которых содержится текст il, невожно в каком месте */
	margin-top: 25px;
	border: 2px dashed green ;
	borger-radius: 5px;
	display: block;
}
[type^="texta"] { /* ^ - применяет стили на элементы с атрибутом type и значением которое начинается с texta */ 
	padding:20px 50px;
	margin-top:50px;
}
.block1 > div{ /* применяет стили только на дочерние элементы 1 уровня вложенности, на 2 уровень вложенности уже не сработает*/
	margin-top: 20px;
}
.block2 + p { /* применяет стили на все элементы p, которые идут после элемента div с классом block2, если заменить его на +, то он найдет только первый по очереди тег*/
	background: skyblue;
}
.block2 ~ p > span > a[href$="tp://*"] {
	background: red;
}
