body{
	margin:0px;
	height: 2000px;
}
.container{
	width: 500px;
	position: relative;
}
.block_1, .block_2, .block_3{
	display: flex;
	align-items: center;
	justify-content: center;
	width:100px;
	height:100px;
	color: white;
	font-size: 35px;
}
.block_1{
	position:absolute;
	right:0px;

	/* position:relative; блок существует для других объектов и влияет на их расположение на странице, однако мы можем его перемещать */
	/*position:absolute; также перестает существовать для других объектов, но мы можем его также перемещать с помощью top,bottom,right,left */
	/*position: fixed; задает виксированную позицию которую мы проставляем вручную с помощью отступов top, left. Начало координат находися в
	 верхнем левом углу При fixed наш блок перестает существовать для других элементов, он занимает их позиции и накладывается на них 
	 практическое применение: при скролле объект будет всегда виден, закрывая собой други элементы*/
	/*bottom: 0px; перемещает нашу точку отсчета в нижний угол, при конфликте с top приоритетом остается top */
	/*right: 0px; Перемещает начало координат к правой "стенке" если указать bottom и right, то наша точка отсчета переместится в правый нижний угол */

	background: #000;

	/* при задании родителю координат его ребенок подвинется вместе с ним, в случае если они позиционируются одинаково */
	/* позиция relative используется для задания позиции объекта внутри какого-то контейнера-родителя, в таком случает наш объект будет двигаться онтносительно размеров родителя 
	Данное значение применимо для контейнера родителя и применяется к нему!!!! */
}
.block_2{
	background: #333333;

}
.block_3{
	background: #669933;
	
}

