body{
	margin:0;
}
.test{
	color: red; /* Специфичность это правило веса разных селекторов, которые конфликтуют. Свойство которое весит больше и будет примененно, например, свойство которое будет ниже будет применено, поскольку CSS имеет каскадность */
}

}
ul li{
	color:green;
}

li{
	color: red;
}
ul ol li{
	color:blue;
}
 #li_element{
	color: red !important; /* Данное свойство !important означает что данное свойство будет главным и у него будет самый высокий приоритет */

}
#li_element{
	color:blueviolet;
}

/* есть несколько групп:
a- селекторы по id имеют самый высокий приоритет
b - классы,атрибуты,псевдоклассы имеют 2-й приоритет
c - псевдоэлементы, теги имеют 3-й приоритет 
комбинаторы никак не влияют на приоритет
псевдокласс :not не учавствует в специфичности
* 					a=0 b=0 c=0 -> специфичность =000
li 					a=0 b=0 c=1 -> специфичность = 001
ul li 				a=0 b=0 c=2 -> специфичность = 002 Специфичность складывается если мы задаем правила для группы селекторов
ul ol+li			a=0 b=0 c=3 -> специфичность = 003 
h1 + *[href=up]		a=0 b=1 c=1 -> специфичность = 011
ul ol li .red       a=0 b=1 c=3 -> специфичность = 013 
li.red.level 		a=0 b=2 c=1 -> специфичность = 021
#test 				a=1 b=0 c=0 -> специфичность = 100
#test:not(p.test)	a=1 b=1 c=1 -> специфичность = 111






*/