body{
	margin:0;
}
.container{
	width: 500px;
	height:500px;
	background-color: red;
	animation-name:change_margin ;/* Показывает какую анимацию мы используем */
	animation-duration: 2s;/* Задает время анимации */
	animation-timing-function: ease-in; /* задает тип анимации linear - наша анимация происходит по простой линейной функции ease-in - анимация происходит быстрее с течением времени ease-out - анимация замедляется с течением времени ease-in-out - анимация сначала ускоряется, а затем замедляется*/
	/*animation-delay: 1s; Задает задержку перед анимацией. Задается только для 1 раза(т.е все повторения считаются одной анимацией) */
	animation-iteration-count: 5; /*Задает количество повторений анимации infinite- задает бесконечное повторение анимации*/
	animation-direction: alternate; /*Задает  поведение анимации, то как она будет идти normal-анимация проходит как она была задана в прямой последовательности  reverse-анимация проходит в обратной последовательности  alternate-анимация проходит сначала в обычном порядке, затем возвращается назад reverse-alternate - тоже самое но в обратном порядке*/
	/*transition: color 1s linear ; Способ задания анимации, которая будет плавно делать наши изменения. Задается для объекта который мы хотим изменить, данное свойство, не задает изменения анимации, анимация задается с помощью псевдоклассов отдельно. Данное свойство задается по типу: transition: свойство которое нужно изменить время анимации способ изменения анимации работает и для медиа-запросов*/
	/*animation-fill-mode: forwards; Задает поведение, блока после завершения анимации forwards - Применяет стили которые были в конце нашей анимации*/
	/* Можно использовать сокращенно animation если учитывать порядок 
	Порядок: 
	duration | timing-function | 
	delay | iteration-count |
	direction | fill-mode | name*/
}
/*.container:hover{
	color:white;
	background-color: green;
} 1 из самых простых способов создать анимации для какого-то объекта*/
/*@keyframes Имя_анимации {
	
}*/
/*@keyframes change_background{ анимация задается по ключевым точкам работет при обновлении страницы
	from{
		background-color: red;
	}
	to{
		background-color: green;
	}
} */
/* @keyframes change_background{задание анимации по ключевым точкам во времени можно делать сколько угодно таких точек 
	0%{
		background-color: red;
	}
	50%{
		background-color: blue;
	}
	100%{
		background-color: green;
	}
}*/
@keyframes change_margin{
	from{
		margin-left:0px;
	}
	to{
		margin-left:1000px;
	}
}