span{ /*селектор по тегу применяет данный стиль ко всем тегам в файле*/
	color: greenyellow;/*Цвет текста*/
	background: deepskyblue;/*Цвет заднего фона*/
}
/* # - id */
#first_span{
	color:#ff000099; /* HEX конструкция другой вид записи последние 2 цифры прозрачность*/
	background: #0f0; /* HEX конструкция пишется в 16-тиричной системе*/
}
/* . - class Может содержать несколько значений*/
.second_span{
	color: whitesmoke;
	background:rgb(0, 0, 0);/* от 0 до 255 */
}
.content{
	background:rgba(0, 0, 255, .5);/* ргб с прозрачностью от 0 до 1 */
}