body{
	margin:0;
	width:100vw;
	height:100vh;

}
.first{
	border: 5px solid red;
	
	/*margin: 50px; /* margin - создает отступы снаружи от элементов данное свойство может схлопываться, т.е при отступах двух элементов друг от друга на одинаковое расстояние они накладываются друг на друга. Получается, что данное свойство отступает от краев другого элемента, а не от его отступов*/
	/*padding-top:50px; /*padding - создает отступы внутри элеметов*/ 

}
.second{
	border: 5px solid green;
	
	/*margin-top:60px;*/
}
.parent{
	display: flex;/* по умолчанию задает значения того, что все элементы внутри одного контейнера будут в строчку */
	background:#999;
	width:100%;
	height:200px;
	justify-content: center;/* задает положение элементов внутри контейнера по горизонтали center-по центру end- в правой части контейнера  */
	align-items:center; /* задает положение элементов внутри контейнера по вертикали, при этом элементы занимают места по контенту flex-start - вверху контейнера center - по середине контейнера flex-end - внизу контейнера */
}