.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.main-text{
padding-top: 80px;
padding-bottom: 64px;
display: flex;
flex-direction: column;
align-items: center;
}

.main-text-title,
.main-text-subtitle {
	font-family: var(--font-famyly-b);
	margin: 0;
	color: var(--color-black);
}
.main-text-title{
	font-size: 96px;
}

.main-text-subtitle {
	font-size: 64px;
}

.main-text-title span {
	color: var(--color-dark-red);
	position: relative;
	text-shadow: 0px 4px 0px var(--color-white);

}

.main-text-title span::after {
	content: ' ' ;
	display: block;
	width: 110%;
	height: 51px;
	border-radius:999px ;
	background-color: var(--color-light-green);
	position: absolute;
	left: -5%;
	bottom: 0;
	z-index: -1;
}

.main_grid{
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(3,auto);
	grid-gap: 30px;
	width: 70%;
}

.main_grid img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}

.main_text_1{
	grid-column:1/2;
	grid-row: 1/2;
	font-family: var(--font-famyly-r);
	font-size: 18px;
}

.main_text_2{
	grid-column: 4/6;
	grid-row: 1/2;
	font-family: var(--font-famyly-r);
	font-size: 18px;
}

.main_grid_photo_1{
	grid-column: 1/2;
	grid-row: 2/4;
}

.main_grid_photo_2{
	grid-column: 2/4;
	grid-row: 1/3;
}

.main_grid_photo_3{
	grid-column: 4/5;
	grid-row: 2/3;
}

.main_grid_photo_4{
	grid-column: 5/6;
	grid-row: 2/3;
}

.main_grid_photo_5{
	grid-column: 2/3;
	grid-row: 3/4;
}

.main_grid_photo_6{
	grid-column: 3/5;
	grid-row: 3/4;
}

.main_grid_photo_7{
	grid-column: 5/6;
	grid-row: 3/4;
}

.main-button{
	width: 270px;
	height: 82px;
	margin-top: 40px;
}
.main-background-D,
.main-background-R{
	position: absolute;
	right: 0;
	top: 0;
	z-index: -2;
}

.main-background-R{
	opacity: 0.4;
}

.main-background-D{
 top: 18px;
}
